@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&family=Montserrat:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
}

.btn {
  display: inline-block;
  line-height: 50px;
  padding: 0px 22px;
  background-color: #ffc045;
  text-align: center;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: bold;
  font-family: "Bebas Neue", cursive;
  color: #3d2514;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.btn:hover {
  background-color: #BF2222;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: 2;
}

.header__body {
  position: relative;
  height: 100px;
}

.header__burger {
  display: none;
}

.header__row1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 40px 0px 0px 0px;
  z-index: 3;
}

.header__row2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 2;
}

.header__list li {
  margin: 0px 0px 0px 35px;
}

.header__link {
  font-family: "Bebas Neue", cursive;
  font-size: 20.8px;
  font-weight: bold;
  letter-spacing: 4.17px;
  color: #3d2514;
}

.header__link:hover {
  color: #BF2222;
}

.header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 3;
}

.header-logo__image {
  width: 58px;
  height: 58px;
  position: relative;
  margin: 0px 15px 0px 0px;
}

.header-logo__image img {
  max-width: 100%;
}

.header-logo__text {
  padding: 15px 0px 0px 0px;
  font-family: "Bebas Neue", cursive;
  font-size: 40px;
  font-weight: bold;
  color: #3d2514;
}

.header-delivery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 2;
}

.header-delivery__icon {
  width: 41px;
  height: 33px;
  margin: 0px 10px 0px 0px;
}

.header-delivery__text {
  font-size: 16.7px;
  line-height: 40px;
  font-weight: bold;
  color: #3d2514;
}

.main {
  background: url(../img/main/bg.png) center no-repeat;
  background-size: cover;
  padding: 220px 0px 80px 0px;
}

.main__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-text {
  margin: 80px 0px 0px 0px;
}

.main-text__pretitle {
  font-family: "Bebas Neue", cursive;
  max-width: 413px;
  border: dashed 2px #3d2514;
  padding: 16px 20px;
  font-size: 23.5px;
  color: #3d2514;
  margin: 0px 0px 40px 0px;
}

.main-text__title {
  font-family: "Alfa Slab One", cursive;
  text-transform: uppercase;
  text-shadow: 3.9px 4.5px 0 #fee8bc;
  font-size: 114.5px;
  line-height: 61.5px;
  color: #3d2514;
  margin: 0px 0px 27px 0px;
}

.main-text__subtitle {
  font-family: "Alfa Slab One", cursive;
  text-transform: uppercase;
  text-shadow: 3.9px 4.5px 0 #fee8bc;
  font-size: 56.5px;
  line-height: 61.5px;
  text-align: left;
  color: #3d2514;
}

.main-image {
  position: relative;
}

.main-image__burger {
  width: 715px;
  height: 534px;
}

.main-image-discount {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 174px;
  height: 174px;
  background-color: #bf2222;
  border-radius: 50%;
}

.main-image-discount__frame {
  position: relative;
  left: 10px;
  top: 10px;
  width: 152px;
  height: 152px;
  border: dashed 2px #ffffff;
  border-radius: 50%;
}

.main-image-discount__price {
  font-family: "Bebas Neue", cursive;
  position: relative;
  top: 38px;
  font-size: 70px;
  line-height: 38px;
  text-align: center;
  color: #ffffff;
}

.main-image-discount__price span {
  font-size: 30.5px;
}

.main-image-discount__text {
  font-family: "Bebas Neue", cursive;
  position: relative;
  top: 38px;
  left: 7px;
  letter-spacing: 11.39px;
  font-size: 33.5px;
  line-height: 38px;
  text-align: center;
  color: #ffffff;
}

.menu {
  padding: 70px 0px 40px 0px;
}

.menu__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 30px 0px;
}

.menu__col {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.menu__btn {
  display: block;
  width: 218px;
  margin: 0px auto;
}

.menu__container {
  max-width: 1240px;
  margin: 0px auto;
  padding: 0px 10px;
}

.menu-card {
  position: relative;
  display: block;
  width: 596px;
  height: 192px;
  margin: 0px 0px 37px auto;
}

.menu-card img {
  width: 100%;
}

.menu-card:hover .menu-card-text {
  color: #bf2222;
}

.menu-card_big {
  height: 420px;
  border-radius: 30px;
}

.menu-card__image {
  border-radius: 8px;
}

.menu-card-text {
  position: absolute;
  left: 31px;
  top: 24px;
  font-family: "Bebas Neue", cursive;
  line-height: 30px;
  color: #ffffff;
}

.menu-card-text__pretitle {
  font-size: 25px;
}

.menu-card-text__title {
  font-size: 41.7px;
  line-height: 32px;
}

.choose {
  padding: 40px 0px 130px 0px;
}

.choose__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.choose__col {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
}

.choose-text {
  text-align: center;
  margin: 0px 0px 60px 0px;
}

.choose-text__title {
  font-family: "Alfa Slab One", cursive;
  text-transform: uppercase;
  font-size: 50px;
  line-height: 55px;
  color: #3d2514;
  margin: 0px 0px 30px 0px;
}

.choose-text__description {
  font-size: 16.7px;
  line-height: 29.2px;
  color: #3d2514;
  max-width: 1055px;
  margin: 0px auto;
}

.choose-card {
  text-align: center;
}

.choose-card__image {
  width: 349px;
  height: 303px;
  margin: 0px 0px 20px 0px;
}

.choose-card__title {
  font-family: "Bebas Neue", cursive;
  font-size: 37.5px;
  font-weight: bold;
  line-height: 37.5px;
  color: #3d2514;
  margin: 0px 0px 20px 0px;
}

.choose-card__description {
  max-width: 350px;
  font-size: 16.7px;
  line-height: 20.8px;
  color: #3d2514;
  margin: 0px auto 20px;
}

.choose-card__btn {
  padding: 0px 38px;
  background-color: #bf2222;
  color: #fff;
}

.choose-card__btn:hover {
  background-color: #ffc045;
}

.events {
  padding: 20px 0px 70px 0px;
}

.slick-slider {
  min-width: 0;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.slider-events {
  position: relative;
  padding: 0px 50px;
  max-width: 1294px;
  width: 100%;
  height: 522px;
  -webkit-box-shadow: 18.7px 24.8px 43px 0 #0000002b;
          box-shadow: 18.7px 24.8px 43px 0 #0000002b;
  margin: 0px auto;
}

.slider-events .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-events .slick-dots li {
  margin: -60px 6px 0px;
  z-index: 30;
}

.slider-events .slick-dots li.slick-active button {
  background-color: #ffc045;
}

.slider-events .slick-dots button {
  font-size: 0;
  border-radius: 50%;
  width: 17px;
  height: 17px;
  background-color: #dcdcdc;
}

.slider-events__item {
  padding: 26px 5px 56px;
}

.slider-events__item img {
  max-width: 100%;
}

.slider-events__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider-events__col {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.slider-events__pretitle {
  font-family: "Bebas Neue", cursive;
  font-size: 29.2px;
  font-weight: bold;
  line-height: 45.8px;
  letter-spacing: 1.75px;
  color: #3d3d3d;
}

.slider-events__title {
  font-family: "Alfa Slab One", cursive;
  text-transform: uppercase;
  font-size: 41.7px;
  line-height: 45.8px;
  color: #3d2514;
  margin: 0px 0px 30px 0px;
}

.slider-events__description {
  font-size: 20.8px;
  line-height: 30px;
  text-align: left;
  color: #3d3d3d;
  max-width: 550px;
}

.slider-events__image {
  width: 659px;
  height: 440px;
}

.reservation {
  padding: 50px 0px 120px 0px;
}

.reservation__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reservation__col1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
}

.reservation__col2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
}

.reservation__col3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
}

.reservation-text {
  text-align: center;
}

.reservation-text__pretitle {
  font-family: "Bebas Neue", cursive;
  font-size: 29.2px;
  font-weight: bold;
  line-height: 45.8px;
  letter-spacing: 1.75px;
  color: #3d2514;
  margin: 0px 0px 5px 0px;
}

.reservation-text__title {
  font-family: "Alfa Slab One", cursive;
  text-transform: uppercase;
  font-size: 50px;
  line-height: 45.8px;
  letter-spacing: 3px;
  color: #3d2514;
  margin: 0px 0px 70px 0px;
}

.reservation-image {
  text-align: center;
}

.reservation-image__bottle img {
  max-width: 100%;
}

.reservation-image__burger img {
  max-width: 100%;
}

.reservation-form input {
  border-radius: 5px;
  border: solid 1px #bebebe;
  padding: 10px 25px;
  max-width: 379px;
  width: 100%;
  margin: 0px 26px 26px 0px;
  font-family: "Bebas Neue", cursive;
  font-size: 20.8px;
  line-height: 45.8px;
  color: #3d3d3d;
}

.reservation-form__btn {
  font-family: "Bebas Neue", cursive;
  border-radius: 5px;
  letter-spacing: 1.4px;
  background-color: #bf2222;
  line-height: 65px;
  max-width: 379px;
  width: 100%;
  font-size: 25px;
  color: #ffffff;
}

.reservation-form__btn:hover {
  background-color: #ffc045;
}

.footer {
  background: url(../img/footer/bg.jpg) center no-repeat;
  padding: 80px 0px 10px 0px;
}

.footer__container {
  max-width: 1300px;
  margin: 0px auto;
  padding: 0px 40px;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__col1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
}

.footer__col2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
}

.footer__description {
  max-width: 550px;
  font-size: 16.7px;
  line-height: 25px;
  color: #ffffff;
  margin: 0px 0px 135px 0px;
}

.footer__copyright {
  font-family: "Bebas Neue", cursive;
  font-size: 16.7px;
  color: #ffffff;
}

.footer-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 60px 0px;
}

.footer-logo__image {
  width: 90px;
  height: 90px;
  margin: 0px 30px 0px 0px;
}

.footer-logo__image img {
  max-width: 100%;
}

.footer-logo__text {
  padding: 25px 0px 0px 0px;
  font-family: "Bebas Neue", cursive;
  font-size: 60px;
  color: #fff;
}

.footer-list {
  font-family: "Bebas Neue", cursive;
  font-size: 20.8px;
  line-height: 37.5px;
  color: #ffffff;
  margin: 150px 0px 150px 20px;
}

.footer-list__address {
  background: url(../img/footer/icons/marker.svg) 0 0 no-repeat;
  background-size: 29px 33px;
  padding: 0px 0px 0px 45px;
}

.footer-list__email {
  background: url(../img/footer/icons/mail.svg) 0 0 no-repeat;
  background-size: 29px 33px;
  padding: 0px 0px 0px 45px;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer-social__link {
  display: block;
  width: 35px;
  height: 35px;
  background-color: #fff;
  border-radius: 50%;
  margin: 0px 15px 0px 0px;
}

.footer-social__link:hover {
  background-color: #BF2222;
}

.footer-social__link:hover svg {
  fill: #fff;
}

.footer-social__link svg {
  position: relative;
  top: 8px;
  left: 7px;
  width: 20px;
  height: 20px;
}

@media (max-width: 1412px) {
  .container {
    max-width: 1150px;
  }

  .menu-card {
    width: 550px;
    height: 175px;
  }

  .slider-events__description {
    max-width: 500px;
  }

  .slider-events__image {
    width: 559px;
    height: 380px;
  }

  .reservation__col1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30%;
            flex: 0 0 30%;
    position: relative;
  }

  .reservation__col2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%;
    text-align: center;
  }

  .reservation__col3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30%;
            flex: 0 0 30%;
  }

  .reservation-image__bottle {
    position: absolute;
    bottom: -10px;
    right: 55px;
  }

  .reservation-form input {
    margin: 0px 0px 25px 0px;
  }
}

@media (max-width: 1170px) {
  .container {
    max-width: 970px;
  }

  .main-text__pretitle {
    font-size: 19px;
    max-width: 342px;
  }

  .main-text__title {
    font-size: 95px;
  }

  .main-text__subtitle {
    font-size: 40px;
    line-height: 40px;
  }

  .main-image__burger {
    width: 475px;
    height: 394px;
  }

  .menu-card {
    width: 465px;
    height: 142px;
  }

  .menu-card_big {
    height: 328px;
  }

  .choose-card__image {
    width: 299px;
    height: 253px;
  }

  .choose-card__description {
    max-width: 350px;
  }

  .slider-events {
    height: 100%;
  }

  .slider-events__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .slider-events__col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .slider-events__description {
    max-width: 100%;
    margin: 0px 0px 20px 0px;
  }

  .reservation-text__title {
    margin: 0px 0px 45px 0px;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 750px;
  }

  .main {
    padding: 100px 0px 50px 0px;
  }

  .main__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .main-text {
    margin: 80px 0px 20px 0px;
  }

  .main-text__pretitle {
    margin: 0px auto 40px;
  }

  .main-text__subtitle {
    text-align: center;
  }

  .menu__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .choose {
    padding: 40px 0px 20px 0px;
  }

  .choose__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .choose__col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .choose-card {
    margin: 0px 0px 50px 0px;
  }

  .footer__description {
    margin: 0px 0px 86px 0px;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }

  .header {
    position: fixed;
  }

  .header::before {
    background-color: #3d2514;
  }

  .header__body {
    height: 50px;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 50px;
    z-index: 3;
  }

  .header__burger::before,
  .header__burger::after {
    content: '';
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger::before {
    top: 24px;
  }

  .header__burger::after {
    bottom: 15px;
  }

  .header__burger span {
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: 2px;
    left: 0;
    top: 15px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger.active::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 25px;
  }

  .header__burger.active::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 23px;
  }

  .header__burger.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .header__row1 {
    display: none;
  }

  .header__menu {
    position: fixed;
    overflow: auto;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    background-color: #fee8bc;
    padding: 70px 10px 20px 10px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__menu.active {
    top: 0;
  }

  .header__list {
    display: block;
  }

  .header__list li {
    margin: 0px 0px 20px 0px;
  }

  .main {
    padding: 40px 0px 50px 0px;
  }

  .choose-text__title {
    font-size: 30px;
    line-height: 40px;
    margin: 0px 0px 20px 0px;
  }

  .choose-card__title {
    font-size: 30px;
  }

  .slider-events {
    padding: 0px 30px;
  }

  .slider-events__pretitle {
    font-size: 25px;
    line-height: 30px;
  }

  .slider-events__title {
    font-size: 35px;
    line-height: 40px;
    margin: 0px 0px 15px 0px;
  }

  .slider-events__image {
    width: 400px;
    height: 280px;
  }

  .reservation__col1 {
    display: none;
  }

  .reservation__col2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .reservation__col3 {
    display: none;
  }

  .reservation-text__pretitle {
    line-height: 40px;
    font-size: 25px;
  }

  .footer {
    padding: 30px 0px 10px 0px;
  }

  .footer__container {
    padding: 0px 20px;
  }

  .footer__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer__col1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .footer__col2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .footer__description {
    margin: 0px 0px 20px 0px;
  }

  .footer-logo {
    margin: 0px 0px 20px 0px;
  }

  .footer-logo__image {
    width: 60px;
    height: 60px;
    margin: 0px 15px 0px 0px;
  }

  .footer-logo__text {
    font-size: 35px;
  }

  .footer-list {
    margin: 30px 0px 30px 0px;
  }
}

@media (max-width: 540px) {
  .footer-social {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 479.98px) {
  .main-text__pretitle {
    font-size: 16px;
    max-width: 287px;
    padding: 16px 16px;
    margin: 0px 0px 20px 0px;
  }

  .main-text__title {
    font-size: 60px;
    text-align: center;
    margin: 0px 0px 5px 0px;
  }

  .main-image__burger {
    width: 315px;
    height: 234px;
  }

  .main-image-discount {
    width: 100px;
    height: 100px;
    bottom: -7px;
  }

  .main-image-discount__frame {
    width: 78px;
    height: 78px;
  }

  .main-image-discount__price {
    font-size: 30px;
    top: 8px;
    left: 2px;
  }

  .main-image-discount__price span {
    font-size: 15px;
  }

  .main-image-discount__text {
    font-size: 15px;
    line-height: 20px;
    top: 0px;
    left: 6px;
    letter-spacing: 8px;
  }

  .menu-card {
    width: 290px;
    height: 94px;
    margin: 0px 0px 25px auto;
  }

  .menu-card_big {
    height: 203px;
  }

  .menu-card-text {
    left: 4px;
    bottom: 0px;
    max-width: 150px;
  }

  .menu-card-text__title {
    font-size: 35px;
  }

  .slider-events__image {
    width: 230px;
    height: 190px;
  }

  .reservation {
    padding: 35px 0px 35px 0px;
  }

  .reservation-text__title {
    font-size: 35px;
    line-height: 40px;
  }
}